#Lockfiles
*~

Präsentation/Daten/

#tex dateien
Präsentation/Präsentation.aux
Präsentation/Präsentation.log
Präsentation/Präsentation.out
Präsentation/Präsentation.snm
Präsentation/Präsentation.synctex.gz
Präsentation/Präsentation.toc